spring.application.name=
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.liquibase.change-log=classpath:db/changelog/db.changelog-master.xml
spring.jpa.hibernate.ddl-auto=update